/* Rubik+Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;500&display=swap'); 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

:root {
    --title-color: rgb(4, 15, 115);
    --subtitle-color:rgb(66, 72, 117);
    --text-color: rgb(106, 110, 143);
    --sign-color: rgb(255, 91, 46);
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


img {
    width: 100%;
    display: block;
}

h1 {
    font-family: "Rubik", sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: var(--title-color);
  }


  h2 {
    font-family: "Rubik", sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: var(--title-color);
  }

