.footer__contact-us {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* padding-top: 90px;
    padding-bottom: 50px; */
}

.footer__contacts-container {
    display: flex;
    flex-direction:column;
    width: 66.6666666667%;
    /* text-align:left; */
}

.footer__offer-to-contact {
    width: 33.3333333333%;

}

@media (min-width:500px) {
.footer__contact-us {
    flex-direction: row;
}

}
